

.gameOver:nth-child(n+1)  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gameOver  div
{
  height: 100%;
  text-align: center;
}
.gameOver  body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  font-family: "Montserrat", sans-serif;
}
 .gameOver   html{
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 300px;
  position: relative;
  margin: auto;
  height: 100%;
}
.name
{

}
.wrapper .wrapper__header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #3558db;
  padding: 27px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  margin: auto;
}
.wrapper .wrapper__header .b_caption p {
  color: #dae0fb;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.wrapper .wrapper__header .b_caption p span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrapper .wrapper__content {
  background: #fff;
  padding: 10px;
  height: 75%;
  margin: auto;
}
.wrapper .wrapper__content ul {
  list-style: none;
  height: 100%;
}
.wrapper .wrapper__content ul li {
  cursor: pointer;
  background: #fefefe;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.1s ease-in-out;
  z-index: 4;
  height: 17%;
}
.wrapper .wrapper__content ul li.first {
  z-index: 5;
  transform: scale(1.3);
  box-shadow: 0px 0px 16px 13px rgba(0, 0, 0, 0.1);
}
.wrapper .wrapper__content ul li:hover {
  z-index: 5;
  transform: scale(1.3);
  box-shadow: 0px 0px 16px 13px rgba(0, 0, 0, 0.1);
}
.wrapper .wrapper__content ul li:not(:last-child) {
  margin-bottom: 10px;
}
.wrapper .wrapper__content ul li .graphic {
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ebeef3;
  overflow: hidden;
  padding: 5px;
  height: 65%;
}
.wrapper .wrapper__content ul li .graphic img {
  width: 100%;
  border-radius: 100%;
  aspect-ratio: 1;
  transform: translate(-50%,-50%);
position: relative;
top:50%;
left: 50%;
}
.wrapper .wrapper__content ul li .name span {
  vertical-align: middle;
  vertical-align: middle;
top: 50%;
transform: translate(0,-50%);
position: relative;
}
.wrapper .wrapper__content ul li .name span.header {
  color: #979cb0;
  font-weight: 700;
  margin-right: 15px;
  vertical-align: middle;
  display: inline-block;
  width: 70%;
overflow: hidden;
text-overflow: ellipsis;
}
.wrapper .wrapper__content ul li .name span.stat {
  color: #35d8ac;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  width: 20%;
text-overflow: ellipsis;
}
.wrapper .wrapper__content ul li .name span.sub {
  color: #35d8ac;
  font-weight: 700;
  font-size: 10px;
  vertical-align: sub;
}